<% include partials/header %>
<div class="profile-nav ingredients-header">
    <h1>Analytics</h1>
</div>
<div class="profile-main add-recipe">
    <div class="profile-card">
        <h1>
            <i class="material-icons">security</i>
            Admin Actions
        </h1>
        <h2>Select data</h2>
        <p class="chart-list" id="data-buttons">
            <button class="active" onclick="openData(0)">Visits</button>
            <button onclick="openData(1)">Database Activity</button>
            <button onclick="openData(2)">Users</button>
            <button onclick="openData(3)">Legal</button>
            <button onclick="openData(4)">Landing Page</button>
            <button onclick="openData(5)">How-To</button>
        </p>
        <p><a style="display: inline; color: #8C9EFF; font-weight: bold" href="/users/<%= session.userID %>">Posts</a>
             you make will show up on the Cheflyfe news page
         </p>
    </div>
    <div class="profile-feed">
        <div class="post-card" style="box-shadow: none">
            <div class="post-header">
                <span>Options & Data</span>
            </div>
            <% include partials/forms/error %>
            <div class="post-content grey-inputs" style="padding-bottom: 0" id="select-days-container">
                View data from the <select id="select-days" oninput="buildChartByTime()" style="width: 200px">
                    <option value="7">Past week</option>
                    <option value="30">Past month</option>
                    <option value="180">Past 6 months</option>
                    <option value="365">Past year</option>
                    <option value="-1">All time</option>
                </select>
            </div>
            <div id="data">
                <div class="post-content flex-container">
                    <div class="canvas-container">
                        <canvas id="visits-chart"></canvas>
                    </div>
                </div>
                <div class="post-content flex-container" style="display: none">
                    <div class="canvas-container">
                        <canvas id="users-chart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="ingredients-chart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="recipes-chart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="menus-chart"></canvas>
                    </div>
                    <div class="canvas-container">
                        <canvas id="posts-chart"></canvas>
                    </div>
                </div>
                <div style="display: none">
                    <form class="post-content" method="GET" action="/admin/exportEmails">
                        <button class="form-upl">
                            <i class="material-icons" style="font-size: 20px !important; vertical-align: middle">cloud_download</i>
                             <span style="vertical-align: middle">Export all to MailChimp</span>
                         </button>
                    </form>
                    <div class="post-content">
                        <button class="form-upl" onclick="openDiv('add-free-user-form')"><i class="material-icons">add</i> Add free user</button>
                    </div>
                    <form class="post-content" id="add-free-user-form" method="POST" action="/admin/signup" style="display: none" enctype="multipart/form-data">
                        <div class="login-form-wrapper" style="padding: 0">
                            <h3>Basic info</h3>
                            <div class="form-inline">
                                <div class="login-form-input">
                                    <label for="first">First name</label>
                                    <input type="text" name="first" required>
                                </div>
                                <div class="login-form-input">
                                    <label for="last">Last name</label>
                                    <input type="text" name="last" required>
                                </div>
                            </div>
                            <h3>International</h3>
                            <div class="form-inline">
                                <div class="login-form-input">
                                    <label for="username">Measurement System</label>
                                    <select name="system">
                                        <option value="imperial">Imperial</option>
                                        <option value="metric">Metric</option>
                                    </select>
                                </div>
                                <div class="login-form-input">
                                    <label for="last">Currency Symbol</label>
                                    <input type="text" name="currency" placeholder="$, €, £" required>
                                </div>
                            </div>
                            <h3>Account details</h3>
                            <div class="form-inline">
                                <div class="login-form-input">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" required>
                                </div>
                                <div class="login-form-input">
                                    <label for="last">Email</label>
                                    <input type="email" name="email" required>
                                </div>
                            </div>
                            <div class="login-form-input">
                                <label for="last">Password</label>
                                <input type="password" name="password" required>
                            </div>
                            <div id="avatar-media"></div>
                            <div class="form-upl-wrapper">
                                <input type="file" name="avatarUpl" accept=".jpg,.png,.svg,.bmp" id="avatar-media-upload" oninput="previewCreate('avatar-media-upload', 'avatar-media')">
                                <button class="form-upl">Upload avatar</button>
                            </div>
                            <div class="login-form-input">
                                <label class="switch">
                                    <input type="checkbox" name="adminJSON"><span class="slider"></span>
                                </label>
                                <span style="display: inline; vertical-align: 6px">Make user admin</span>
                            </div>
                            <div class="login-form-input">
                                <label>Expiration date (does not apply for admin users)</label>
                                <input type="date" name="expiresOpt">
                            </div>
                            <div class="form-upl-wrapper">
                                <input type="submit" value="Add">
                                <button type="button" style="padding: 10px 15px !important; font-size: 20px" onclick="cancelEdit()">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <div class="post-content grey-inputs" style="padding-bottom: 0" id="select-days-container">
                        Find by <select id="select-column" style="width: 150px;">
                            <option value="0">Email</option>
                            <option value="1">Username</option>
                            <option value="2">Name</option>
                            <option value="3">Payment Status</option>
                        </select>
                        <input type="text" placeholder="Enter query..." style="max-width: 30%; width: 250px" id="query" oninput="searchUsers()">
                    </div>
                    <div class="post-content flex-container" style="width: 100%; overflow-x: auto">
                        <table id="user-data-table">
                            <tr id="header">
                                <th>Email</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Payment Status</th>
                                <th>Expires</th>
                                <th>Admin</th>
                                <th><i class="material-icons">delete</i></th>
                                <th><i class="material-icons">done</i></th>
                            </tr>
                            <% for(let i = 0; i < userData.length; i++){ %>
                                <tr id="user-<%= userData[i].id %>">
                                    <td><%= userData[i].email %></td>
                                    <td><%= userData[i].username %></td>
                                    <td><%= userData[i].name.first %> <%= userData[i].name.last %></td>
                                    <td><%= userData[i].paymentNotRequired ? 'FREE' : userData[i].paymentStatus %></td>
                                    <td class="expires">
                                        <style>
                                            .expires input[type=date] {
                                                padding: 10px;
                                                background-color: whitesmoke;
                                                border-radius: 3px;
                                                border-style: hidden;
                                            }
                                        </style>
                                        <form id="date-form-<%= i %>" method="POST" action="/admin/date/<%= userData[i].id %>?_method=PATCH">
                                            <% if(userData[i].expires){ %>
                                                <% let convertTwoDigit = date => date.toString().length > 1 ? date : "0" + date  %>
                                                <% let date = new Date(userData[i].expires) %>
                                                <% let mm = convertTwoDigit(date.getUTCMonth() + 1) %>
                                                <% let dd = convertTwoDigit(date.getDate()) %>
                                                <input type="date" name="expires" value="<%= date.getFullYear() %>-<%= mm %>-<%= dd %>">
                                            <% }else{ %>
                                                <input type="date" name="expires" oninput="toggle('check-save-<%= i %>', 'check-<%= i %>')">
                                            <% } %>
                                        </form>
                                    </td>
                                    <td>
                                        <form style="display: none" id="promote-demote-form-<%= userData[i].id %>" method="POST" action="/admin/status/<%= userData[i].id %>?_method=PATCH"></form>
                                        <% if(userData[i].admin){ %>
                                            Y<% if(userData[i].id != session.userID){ %><i class="material-icons" onclick="submitForm('promote-demote-form-<%= userData[i].id %>')" style="cursor: pointer">arrow_downward</i>
                                            <% } %>
                                        <% }else{ %>
                                            N<i class="material-icons" onclick="submitForm('promote-demote-form-<%= userData[i].id %>')" style="cursor: pointer">arrow_upward</i>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if((userData[i].paymentStatus != 'ACTIVE' || userData[i].paymentNotRequired) && userData[i].paymentStatus != 'TRIALING' && userData[i].id != session.userID){ %>
                                            <form style="display: none" method="POST" class="delete-alert" action="/users/delete/<%= userData[i].id %>?_method=DELETE" id="delete-<%= userData[i].id %>"></form>
                                            <i class="material-icons" style="color: grey; cursor: pointer" onclick="submitForm('delete-<%= userData[i].id %>')">delete</i>
                                        <% }else{ %>
                                            <i class="material-icons" style="color: lightgrey">delete</i>
                                        <% } %>
                                    </td>
                                    <td>
                                        <i class="material-icons" style="color: #00E676; cursor: pointer; font-weight: bold" style="display: none"
                                        id="check-save-<%= i %>" onclick="submitForm('date-form-<%= i %>')">check</i>
                                    </td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
                <div style="display: none">
                    <form class="post-content" method="POST" action="/admin/upl" id="admin-upl-form" enctype="multipart/form-data">
                        <a href="/terms"><h2 style="font-weight: 300; color: #8C9EFF; text-decoration: underline">Terms & Conditions</h2></a>
                        <div class="form-upl-wrapper" enctype="multipart/form-data">
                            <button class="form-upl">Upload PDF</button>
                            <input type="file" name="termsPDFUpl" accept=".pdf" oninput="submitForm('admin-upl-form')">
                        </div>
                        <a href="/privacy"><h2 style="font-weight: 300; color: #8C9EFF; text-decoration: underline">Privacy Policy</h2></a>
                        <div class="form-upl-wrapper" enctype="multipart/form-data">
                            <button class="form-upl">Upload PDF</button>
                            <input type="file" name="privacyPDFUpl" accept=".pdf" oninput="submitForm('admin-upl-form')">
                        </div>
                    </form>
                </div>
                <div style="display: none">
                    <form class="post-content" method="POST" action="/admin/update?_method=PATCH">
                        <div class="login-form-wrapper" style="padding: 0">
                            <h3>Headers</h3>
                            <div class="form-inline">
                                <div class="login-form-input">
                                    <label for="first">Header 1</label>
                                    <input type="text" name="header1" value="<%= landing.header1 %>" required>
                                </div>
                                <div class="login-form-input">
                                    <label for="last">Header 2</label>
                                    <input type="text" name="header2" value="<%= landing.header2 %>" required>
                                </div>
                            </div>
                            <h3>Blurbs</h3>
                            <div class="login-form-input">
                                <label for="username">Blurb 1</label>
                                <textarea name="blurb1" required><%= landing.blurb1 %></textarea>
                            </div>
                            <div class="login-form-input">
                                <label for="last">Blurb 2</label>
                                <textarea name="blurb2" required><%= landing.blurb2 %></textarea>
                            </div>
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </div>
                <div style="display: none">
                    <div class="post-content" style="margin: 0; padding-top: 0; padding-bottom: 0">
                        <h3>How-To Videos</h3>
                    </div>
                    <form class="post-content grey-inputs" method="POST" action="/admin/howtos/create">
                        <input type="text" name="link" placeholder="Video link" style="width: 200px; max-width: 30%" required>
                        <input type="text" name="description" placeholder="Video description" style="width: 200px; max-width: 30%" required>
                        <input type="submit" value="Add" style="margin: 5px 0; padding: 8px 15px !important; font-size: 16px">
                    </form>
                    <div class="post-content">
                        <% for(let i = 0; i < howTos.length; i++){ %>
                            <form style="display: none" method="POST" action="/admin/howtos/delete/<%= howTos[i].id %>?_method=DELETE" id="delete-howto-<%= howTos[i].id %>"></form>
                            <div class="brigade post-content">
                                <span>
                                    <a href="<%= howTos[i].link %>" style="color: #8C9EFF; text-decoration: underline"><%= howTos[i].description %></a>
                                </span>
                                <span><i class="material-icons" onclick="submitForm('delete-howto-<%= howTos[i].id %>')">delete</i></span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
    let dataDivs = $('#data > *');
    let dataButtons = $('#data-buttons button');
    let searchColumn = $('#select-column');
    let searchQuery = $('#query');

    <% let getTimestamp = d => Math.round((new Date().valueOf() - new Date(d['timestamp']).valueOf())/86400000) + "" %>
    let datasets = [
        <%- JSON.stringify(visits.map(getTimestamp)) %>,
        <%- JSON.stringify(users.map(getTimestamp)) %>,
        <%- JSON.stringify(ingredients.map(getTimestamp)) %>,
        <%- JSON.stringify(recipes.map(getTimestamp)) %>,
        <%- JSON.stringify(menus.map(getTimestamp)) %>,
        <%- JSON.stringify(posts.map(getTimestamp)) %>
    ];

    let ids = ['#visits-chart', '#users-chart', '#ingredients-chart', '#recipes-chart', '#menus-chart', '#posts-chart'];
    let colors = ['rgba(83,109,254, 0.7)', 'rgba(93,119,264, 0.7)', 'rgba(103,129,274, 0.7)', 'rgba(113,139,284, 0.7)', 'rgba(123,149,294, 0.7)', 'rgba(133,159,304, 0.7)'];
    let lineColors = ['rgb(83,109,254)', 'rgb(93,119,264)', 'rgb(103,129,274)', 'rgb(113,139,284)', 'rgb(123,149,294)', 'rgba(133,159,304)'];
    let titles = ['Logins per day', 'New users per day', 'New ingredients per day', 'New recipes per day', 'New menus per day', 'New posts per day'];
    let months = ['January', 'February', 'March', 'April', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    let dataIdx = sessionStorage.getItem('dataIdx');

    buildChart(8, false);

    if(dataIdx){
        openData(parseInt(dataIdx));
    }

    function buildChartByTime(){
        let val = parseInt($('#select-days').val());

        if(val == -1){
            buildChart(0, true);
        }else{
            buildChart(val + 1, false);
        }
    }

    function getLabels(len){
        let div = 1;

        let l = [...Array(Math.floor(len/div) + 1).keys()].map(a => div * a);

        if(l[l.length - 1] != len){
            l.push(len);
        }

        return l.reverse();
    }

    function buildChart(days, refresh){
        let histGenerator = d3.histogram().domain([0, days]).thresholds(days - 1);
        let dataLabels = getLabels(days - 1);

        for(let i = 0; i < datasets.length; i++){
            let ctx = $(ids[i]);
            let max = Math.max(...datasets[i]);
            max = max < 0 ? 0 : max;

            let floored;
            if(refresh){
                floored = Math.floor(max);
                histGenerator = d3.histogram().domain([0, floored + 1]).thresholds(floored);
                dataLabels = getLabels(floored);
            }

            let dataValues = histGenerator(datasets[i]).map(b => {return {x: b.x0, y: b.length}}).reverse();

            let len = refresh ? floored : days;

            new Chart(ctx, {
                type: 'scatter',
                data: {
                    labels: dataLabels,
                    datasets: [{
                        data: dataValues,
                        showLine: true,
                        lineTension: 0.3,
                        pointRadius: 21/len,
                        backgroundColor: colors[i],
                        borderColor: lineColors[i]
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function(t) {
                                let d = new Date();
                                d = new Date(d.setDate(d.getDate() - t.xLabel));

                                return months[d.getMonth() - 1] + ' ' + d.getDate() + ' ' + d.getFullYear() + ', ' + t.yLabel;
                            }
                        }
                    },
                    title: {display: true, text: titles[i], fontSize: 16},
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [
                                {display: false},
                                {
                                    scaleLabel: { display: true, labelString: 'Days ago' },
                                    display: len <= 30,
                                    ticks: {
                                        autoSkip: false
                                    }
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                        }]
                    }
                }
            });
        }
    }

    function openData(i){
        sessionStorage.setItem('dataIdx', i);
        dataDivs.hide();

        $(dataDivs[i]).show();

        dataButtons.attr('class', '');
        $(dataButtons[i]).attr('class', 'active');

        if(i == 2 || i == 3 || i == 4 || i == 5){
            $('#select-days-container').hide();
        }else{
            $('#select-days-container').show();
        }
    }

    function searchUsers(){ //TODO: remove all sync methods on the backend for performance optimization
        let q = clean(searchQuery.val());

        if(q == ''){
            $('#user-data-table tr').show();
        }else{
            $('#user-data-table tr:not(#header)').each(function(i){
                let td = $($(this).find('td')[searchColumn.val()]);

                if(clean(td.text()).indexOf(q) == -1){
                    $(this).hide()
                }else{
                    $(this).show();
                }
            });
        }
    }
</script>
<% include partials/footer %>
