<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid %>
<% } %>
<div class="flex-container landing grad">
    <div>
        <h1><%- landing.header1 %></h1>
        <p>
            <%- landing.blurb1 %>
        </p>
        <div class="buttons">
            <a href="/login" class="cta">Login</a>
            <a href="/signup" class="cta imp">Get Started</a>
        </div>
    </div>
    <div>
        <img src="/img/static/postsLanding.PNG">
    </div>
</div>
<div class="flex-container landing">
    <div>
        <img src="/img/static/recipeLanding.PNG">
    </div>
    <div>
        <h1><%- landing.header2 %></h1>
        <div class="p">
            <%- landing.blurb2 %>
        </div>
    </div>
</div>
<% if(posts.length == 0){ %>
    <div class="flex-container landing grad">
        <div style="height: auto; width: 100%; max-width: 100%; text-align: center">
            <h1>Recent News</h1>
            <div class="flex-container landing-news">
                <% for(let i = 0; i < posts.length; i++){ %>
                    <div class="post-card">
                        <div class="post-header">
                            <span><%= posts[i].name %></span>
                        </div>
                        <% if(posts[i].filePaths.length > 0){ %>
                            <div class="post-content media">
                                <% let src = posts[i].filePaths[0] %>
                                <% let path = src.split('.') %>
                                <% let ext = path[path.length - 1].toLowerCase() %>
                                <div class="media-container">
                                    <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg'){ %>
                                        <div style="background-image: url(<%= src %>); background-size: cover" class="post-bg"></div>
                                    <% }else{ %>
                                        <video style="width: 100%" controls><source src="<%= src %>"></video>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <div class="post-content">
                            <%- posts[i].content.substring(0, 300) %>
                            <% if(posts[i].content.length > 300){ %>...<% } %>
                        </div>
                        <div class="post-content">
                            <a class="cta" href="/news/<%= posts[i].id %>">View</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
<% include partials/forms/error %>
<% include partials/footer %>
