<% include partials/header %>
<% include partials/lists/units %>
<% include partials/lists/allergens %>
<div class="profile-nav ingredients-header">
    <h1>Ingredients</h1>
</div>
<div class="flex-container" style="margin: 0 10px; margin-top: 20px">
    CSV uploads must follow a specific format.
    <a  href="/img/static/Ingredient CSV Format.csv" style="color: #8C9EFF; font-weight: bold; margin-left: 5px" download> Download example CSV</a>
</div>
<div class="flex-container" style="margin: 20px 0">
    <div class="ingredient add-ingredient post-card add-post" onclick="toggle('search-db', 'search-db-form')" id="search-db">
        <i class="material-icons">table_chart</i><p>Search USDA</p>
    </div>
    <div class="post-card ingredient" style="display: none" id="search-db-form">
        <div class="post-header"><input type="text" style="width: 100%" placeholder="Product name" id="search-db-input"></div>
        <div class="post-content grey-inputs small-input" style="margin: 10px; padding: 0">
            <div class="checkbox flex-container">
                <span style="color: grey; font-weight: bold; margin-right: 5px">Conversions</span>
                <label class="switch"><input type="checkbox" id="search-db-conversions"><span class="slider"></span></label>
            </div>
            <button type="button" class="cta" style="vertical-align: middle" onclick="searchDB()"><i class="material-icons">arrow_forward</i></button>
        </div>
        <div class="post-content" id="search-db-header">
        </div>
        <div class="post-content" id="search-db-container" style="max-height: 300px; overflow: auto; overflow-x: hidden">
        </div>
        <div class="post-content" id="search-db-more">
        </div>
        <p></p>
    </div>
    <form class="ingredient add-ingredient post-card add-post" id="csv-form" method="POST" action="/ingredients/createCSV" enctype="multipart/form-data">
        <div class="form-upl-wrapper">
            <input type="file" name="csvUpl" accept=".csv" oninput="submitForm('csv-form')">
            <button class="form-upl" type="button" style="padding: 0 !important; background-color: transparent">
                <i class="material-icons">cloud_upload</i><p>Upload CSV</p>
            </button>
        </div>
    </form>
    <div class="ingredient add-ingredient post-card add-post" onclick="toggle('add-ingredient', 'add-ingredient-form')" id="add-ingredient">
        <i class="material-icons">add</i><p>Add Ingredient</p>
    </div>
    <form class="post-card ingredient new-ingredient" id="add-ingredient-form" style="display: none" method="POST" action="/ingredients/create">
        <div class="post-header">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Brand (optional)" name="brandOpt">
        </div>
        <div class="post-content">
            <p><textarea placeholder="Description (optional)" name="descriptionOpt"></textarea></p>
            <input type="hidden" name="allergensJSON" id="allergens-input-0" value="[]">
            <div class="allergens flex-container" id="add-allergen-container-0" style="margin-bottom: 0">
                <div class="flex-container add-allergen">
                    <input type="text" list="allergens-datalist" placeholder="Add allergen" id="add-allergen-input-0">
                    <button type="button" onclick="addAllergen(0)"><i class="material-icons">done</i></button>
                </div>
            </div>
            <p class="small-input"><input type="number" name="wastageJSON">% Wastage</p>
            <p class="small-input">
                $<input type="number" step="0.01" placeholder="Price" name="valJSON">
                per<input type="number" step="0.01" placeholder="# of" name="qtJSON">
                <input list="units-datalist" type="text" placeholder="units" name="units">
            </p>
            <input type="hidden" value="[]" id="conversions-input-0" name="conversionsJSON">
            <div class="small-input smaller-input allergens flex-container" id="add-conversion-container-0">
                <div class="flex-container add-allergen add-conversion">
                    <span style="padding: 8px 0">Listed quanity is equal to</span>
                    <input type="number" step="0.01" placeholder="#" id="qt-0"><input type="text" list="units-datalist" placeholder="units" id="units-0">
                    <button type="button" onclick="addConversion(0)"><i class="material-icons">done</i></button>
                </div>
            </div>
        </div>
        <div class="post-content">
            <button type="button" onclick="openDiv('nutritional-info-form')" class="normal-button"><i class="material-icons">add</i> Add nutritonal facts</button>
            <div id="nutritional-info-form" style="display: none">
                <p class="small-input smaller-input">Calories <input type="number" name="calsOptJSON" step="0.01"> - Calories from fat
                    <input type="number" name="fatCalsOptJSON" step="0.01"></p>
                <p class="small-input smaller-input">Total fat <input type="number" name="fatOptJSON" step="0.01">g - Sat
                    <input type="number" name="satFatOptJSON" step="0.01"> Trans <input type="number" name="transFatOptJSON" step="0.01">
                </p>
                <p class="small-input smaller-input">Cholesterol <input type="number" name="cholOptJSON" step="0.01">mg</p>
                <p class="small-input smaller-input">Sodium <input type="number" name="sodOptJSON" step="0.01">mg</p>
                <p class="small-input smaller-input">Total Carbs <input type="number" name="carbsOptJSON" step="0.01">g -
                    <input type="number" name="fibOptJSON" step="0.01"> Fiber <input type="number" name="sugOptJSON" step="0.01"> Sugar
                </p>
                <p class="small-input smaller-input">Protein <input type="number" name="protOptJSON" step="0.01">g</p>
            </div>
        </div>
        <div class="post-content">
            <input type="submit" value="Save" style="margin-right: 10px">
            <button onclick="toggle('add-ingredient', 'add-ingredient-form')">Cancel</button>
        </div>
    </form>
</div>
<div class="flex-container">
    <% ingredients = ingredients.sort((a, b) => {
        if(a.name < b.name) { return -1; }
        if(a.name > b.name) { return 1; }
        return 0;
    }) %>
    <% for(let i = 0; i < ingredients.length; i++){ %>
        <form class="post-card ingredient" onclick="toggleEdit('ingredient-update-<%= ingredients[i].id %>', '', '')" method="POST" action="/ingredients/update/<%= ingredients[i].id %>?_method=PATCH"
            onsubmit="prepareJSON(<%= ingredients[i].id %>)">
            <div class="post-header">
                <span id="header-<%= ingredients[i].id %>" onclick="toggle('header-<%= ingredients[i].id %>', 'header-update-<%= ingredients[i].id %>')">
                    <%= ingredients[i].name %>
                </span>
                <input type="text" name="name" id="header-update-<%= ingredients[i].id %>" style="display: none" value="<%= ingredients[i].name %>">
                <h4 id="brand-<%= ingredients[i].id %>" onclick="toggle('brand-<%= ingredients[i].id %>', 'brand-update-<%= ingredients[i].id %>')">
                    <%= ingredients[i].brand %>
                </h4>
                <input type="text" name="brand" id="brand-update-<%= ingredients[i].id %>" value="<%= ingredients[i].brand %>" style="display: none">
            </div>
            <p class="post-content" id="ingredient-more-<%= ingredients[i].id %>">
                <i class="material-icons" style="font-size: 40px !important; color: grey"
                onclick="toggle('ingredient-more-<%= ingredients[i].id %>', 'ingredient-content-<%= ingredients[i].id %>')">
                    more_horiz</i>
            </p>
            <div class="post-content" id="ingredient-content-<%= ingredients[i].id %>" style="display: none">
                <% let color = ingredients[i].nutritionalInfo ? '#00E676' : 'coral' %>
                <p style="color: <%= color %>"><% if(ingredients[i].nutritionalInfo){ %>Has nutritional info<% }else{ %>No nutritonal info<% } %></p>
                <p id="description-<%= ingredients[i].id %>" onclick="toggle('description-<%= ingredients[i].id %>', 'description-update-<%= ingredients[i].id %>')">
                    <%= ingredients[i].description %>
                </p>
                <p id="description-update-<%= ingredients[i].id %>" style="display: none"><textarea name="description"><%= ingredients[i].description %></textarea></p>
                <input type="hidden" name="allergensJSON" id="allergens-input-<%= ingredients[i].id %>" value="<%= JSON.stringify(ingredients[i].allergens) %>">
                <div class="allergens flex-container" id="add-allergen-container-<%= ingredients[i].id %>">
                    <div class="flex-container add-allergen" style="display: none" id="allergen-form-<%= ingredients[i].id %>">
                        <input type="text" list="allergens-datalist" placeholder="Add allergen" id="add-allergen-input-<%= ingredients[i].id %>">
                        <button type="button" onclick="addAllergen(<%= ingredients[i].id %>)"><i class="material-icons">done</i></button>
                    </div>
                    <button type="button" class="edit-allergens"
                    onclick="toggleArr(['allergen-form-<%= ingredients[i].id %>', 'allergen-close-<%= ingredients[i].id %>'], ['allergen-edit-<%= ingredients[i].id %>'])">
                        <i class="material-icons" id="allergen-edit-<%= ingredients[i].id %>">edit</i>
                        <i class="material-icons" id="allergen-close-<%= ingredients[i].id %>" style="display: none">minimize</i>
                    </button>
                    <% for(let k = 0; k < ingredients[i].allergens.length; k++){ %>
                        <span class="allergen" id="<%= ingredients[i].allergens[k] %>">
                            <%= ingredients[i].allergens[k] %>
                            <i class="material-icons" onclick="removeAllergen('<%= ingredients[i].allergens[k] %>', <%= ingredients[i].id %>)">close</i>
                        </span>
                    <% } %>
                </div>
                <input type="hidden" value="<%= JSON.stringify(ingredients[i].conversions) %>"
                id="conversions-input-<%= ingredients[i].id %>" name="conversionsJSON">
                <div class="small-input smaller-input allergens flex-container" id="add-conversion-container-<%= ingredients[i].id %>">
                    <div class="flex-container add-allergen add-conversion" style="display: none" id="conversion-form-<%= ingredients[i].id %>">
                        <span style="padding: 8px 0"><%= ingredients[i].price.qt %><%= ingredients[i].price.units %> is equal to</span>
                        <input type="number" step="0.01" placeholder="#" id="qt-<%= ingredients[i].id %>">
                        <input type="text" list="units-datalist" placeholder="units" id="units-<%= ingredients[i].id %>">
                        <button type="button" onclick="addConversion(<%= ingredients[i].id %>)"><i class="material-icons">done</i></button>
                    </div>
                    <button type="button" class="edit-conversions"
                    onclick="toggleArr(['conversion-form-<%= ingredients[i].id %>', 'conversion-close-<%= ingredients[i].id %>'], ['conversion-edit-<%= ingredients[i].id %>'])">
                        <i class="material-icons" id="conversion-edit-<%= ingredients[i].id %>">edit</i>
                        <i class="material-icons" id="conversion-close-<%= ingredients[i].id %>" style="display: none">minimize</i>
                    </button>
                    <% for(let k = 0; k < ingredients[i].conversions.length; k++){ %>
                        <span class="allergen" style="background-color: #536DFE">
                            <%= ingredients[i].conversions[k].qt %> <%= ingredients[i].conversions[k].units %>
                        </span>
                    <% } %>
                </div>
            </div>
            <div class="post-content" id="ingredient-update-<%= ingredients[i].id %>" style="display: none">
                <input type="submit" value="Save">
                <button type="button" onclick="cancelEdit()">Cancel</button>
            </div>
            <div class="post-content flex-container icons">
                <span class="small-input smaller-input">
                    <i class="material-icons">delete</i>
                    <span id="wastage-<%= ingredients[i].id %>" onclick="toggle('wastage-<%= ingredients[i].id %>', 'wastage-update-<%= ingredients[i].id %>')">
                        <%= ingredients[i].wastage %>
                    </span>
                    <input type="number" name="wastage" value="<%= ingredients[i].wastage %>" id="wastage-update-<%= ingredients[i].id %>" style="display: none">
                     % wastage
                </span>
                <input type="hidden" name="priceJSON" id="price-input-<%= ingredients[i].id %>">
                <span class="small-input smaller-input"><i class="material-icons">shopping_basket</i>
                    <span id="price-<%= ingredients[i].id %>" onclick="toggle('price-<%= ingredients[i].id %>', 'price-update-<%= ingredients[i].id %>')">
                        $<%= ingredients[i].price.val %> per <% if(ingredients[i].price.qt != 1){ %>
                            <%= ingredients[i].price.qt %> <% } %><%= ingredients[i].price.units %>
                    </span>
                    <span id="price-update-<%= ingredients[i].id %>" style="display: none">
                        $<input type="number" step="0.01" value="<%= ingredients[i].price.val %>"> per
                        <input type="number" step="0.01" value="<%= ingredients[i].price.qt %>">
                        <%= ingredients[i].price.units %>
                    </span>
                </span>
            </div>
        </form>
    <% } %>
</div>
<script>
    let conversions = [];

    function addAllergen(id){
        let allergenList = document.getElementById('allergens-input-' + id);
        let allergenContainer = document.getElementById('add-allergen-container-' + id);
        let a = document.getElementById('add-allergen-input-' + id);
        let name = a.value;
        let arr = JSON.parse(allergenList.value);

        if(name != '' && arr.filter(a => clean(a) == clean(name)).length == 0){
            arr.push(name);

            allergenList.setAttribute('value', JSON.stringify(arr));

            allergenContainer.innerHTML += `
            <span class="allergen" id="${name}">
                ${name}
                <i class="material-icons" onclick="removeAllergen('${name}', ${id})">close</i>
            </span>`;

            a.setAttribute('value', '');
        }
    }

    function removeAllergen(name, id){
        let allergenList = document.getElementById('allergens-input-' + id);

        allergenList.setAttribute('value', JSON.stringify(JSON.parse(allergenList.value).filter(a => a != name)));

        document.getElementById(name).remove();
    }

    function addConversion(id){
        let conversionList = document.getElementById('conversions-input-' + id);
        let conversionContainer = document.getElementById('add-conversion-container-' + id);
        let q = document.getElementById('qt-' + id);
        let u = document.getElementById('units-' + id);
        let qt = parseFloat(q.value);
        let units = u.value;
        let arr = JSON.parse(conversionList.value);
        let matched = arr.filter(c => clean(c.units) == clean(units)).length;

        if(qt != '' && units != '' && matched == 0){
            arr.push({units: units, qt: qt});

            conversionList.setAttribute('value', JSON.stringify(arr));

            conversionContainer.innerHTML += `
            <span class="allergen" style="background-color: #536DFE" id="${units}">
                ${qt} ${units}
                <i class="material-icons" onclick="removeConversion('${units}', ${id})">close</i>
            </span>`;

            q.setAttribute('value', '');
            u.setAttribute('value', '');
        }
    }

    function removeConversion(units, id){
        let conversionList = document.getElementById('conversions-input-' + id);

        conversionList.setAttribute('value', JSON.stringify(JSON.parse(conversionList.value).filter(c => c.units != units)));

        document.getElementById(units).remove();
    }

    function prepareJSON(id){
        let inputs = document.querySelectorAll('#price-update-' + id + ' input');
        let input = document.getElementById('price-input-' + id);
        let price = {val: parseFloat(inputs[0].value), qt: parseFloat(inputs[1].value), units: inputs[2].value};

        input.setAttribute('value', JSON.stringify(price));
    }
</script>
<script src="https://platform.fatsecret.com/js?key=beac3343d0574c0ab2c98dec67bade5f"></script>
<script src="/js/searchDB.js"></script>
<% include partials/footer %>
