<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid %>
<% } %>
<% let auth = (menu.author.id == session.userID) && !expired %>
<% let c = menu.author.currency %>
<div class="profile-nav ingredients-header">
    <h1>View Menu</h1>
</div>
<form style="display: none" id="delete-form" method="POST" action="/menus/delete/<%= menu.id %>?_method=DELETE"></form>
<form class="profile-main add-recipe" method="POST" action="/menus/update/<%= menu.id %>?_method=PATCH" enctype="multipart/form-data"
onclick="toggleEdit('menu-edit')" onsubmit="packageJSON()" id="menu-update-form">
    <div class="profile-card">
        <h1><i class="material-icons">people</i>Sharing Settings</h1>
        <% if(auth){ %>
            <% if(session.admin){ %>
                <input type="hidden" id="viewer-input" value="<%= JSON.stringify(menu.sharedUsers.map(u => u.id)) %>" name="sharedUsersRelJSON">
            <% }else{ %>
                <div class="allergens flex-container" id="add-viewer-container" style="margin-bottom: 0">
                    <input type="hidden" id="viewer-input" value="<%= JSON.stringify(menu.sharedUsers.map(u => u.id)) %>" name="sharedUsersRelJSON">
                    <div class="flex-container add-allergen" style="display: none" id="add-viewer">
                        <input type="text" list="user-datalist" placeholder="Add viewer" id="add-viewer-input">
                        <button type="button" onclick="addViewer()"><i class="material-icons">done</i></button>
                    </div>
                    <button type="button" class="edit-allergens"
                    onclick="toggleArr(['viewer-close', 'add-viewer'], ['viewer-edit'])">
                        <i class="material-icons" id="viewer-edit">edit</i>
                        <i class="material-icons" id="viewer-close" style="display: none">minimize</i>
                    </button>
                    <% for(let i  = 0; i < menu.sharedUsers.length; i++){ %>
                        <span class="allergen" id="user-<%= menu.sharedUsers[i].id %>" style="background-color: #536DFE">
                            <%= menu.sharedUsers[i].username %>
                            <i class="material-icons" onclick="removeViewer(<%= menu.sharedUsers[i].id %>, '<%= menu.sharedUsers[i].username %>')" style="display: inline">close</i>
                        </span>
                    <% } %>
                </div>
            <% } %>
            <h2>Display to Viewers</h2>
            <input type="hidden" name="sharingPermissionsJSON" id="sharing-input">
            <h3>Recipe Costs</h3>
            <div class="checkbox flex-container">
                <div>Food</div>
                <label class="switch"><input type="checkbox" id="food-share"
                <% if(menu.sharingPermissions.food){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Labor</div>
                <label class="switch"><input type="checkbox"  id="labor-share"
                <% if(menu.sharingPermissions.labor){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Misc</div>
                <label class="switch"><input type="checkbox" id="misc-share"
                <% if(menu.sharingPermissions.misc){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Overhead</div>
                <label class="switch"><input type="checkbox" id="overhead-share"
                <% if(menu.sharingPermissions.overhead){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <h3>Recipe Profit</h3>
            <div class="checkbox flex-container">
                <div>Profit</div>
                <label class="switch"><input type="checkbox" id="profit-share"
                <% if(menu.sharingPermissions.profit){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Profit Margin</div>
                <label class="switch"><input type="checkbox" id="profit-margin-share"
                <% if(menu.sharingPermissions.profitMargin){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <div class="checkbox flex-container">
                <div>Price</div>
                <label class="switch"><input type="checkbox" id="price-share"
                <% if(menu.sharingPermissions.price){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <h3>Other</h3>
            <div class="checkbox flex-container">
                <div>Allergens</div>
                <label class="switch"><input type="checkbox" id="allergens-share"
                <% if(menu.sharingPermissions.allergens){ %>checked<% } %>><span class="slider"></span></label>
            </div>
            <h2>Export</h2>
            <button type="button" onclick="genPDF()" style="border-radius: 5px; margin: 10px auto; padding: 10px">Get a PDF or print</button>
        <% }else{ %>
            <h3>Settings are not accessible to you</h3>
        <% } %>
    </div>
    <div class="profile-feed" id="PDFContent">
        <% include partials/forms/error %>
        <div class="post-card" style="box-shadow: none">
            <div class="post-header">
                <div>
                    <div class="media" style="vertical-align: middle; height: 45px; display: inline-block; margin-right: 10px">
                        <img src="<%= menu.logo %>" style="vertical-align: middle; height: 45px">
                        <% if(auth){ %>
                            <div class="media-overlay" style="vertical-align: middle; height: 45px">
                                <div class="center-inline">
                                    <div class="form-upl-wrapper">
                                        <input type="file" name="logoUpl" oninput="submitForm('menu-update-form')" required>
                                        <button class="form-upl"><i class="material-icons" style="font-size: 30px !important">camera_alt</i></button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <span style="vertical-align: middle; display: inline"  onclick="toggle('name', 'update-name')" id="name"  style="font-size: 35px"><%= menu.name %></span>
                </div>
                <% if(auth){ %>
                    <input type="text" placeholder="Title" value="<%= menu.name %>" name="name" id="update-name" style="display: none; flex: 1; margin-left: 5px" required>
                <% } %>
            </div>
            <div class="post-content">
                <% if((auth || menu.sharingPermissions.allergens) && menu.allergens.length > 0){ %>
                    <div class="allergens flex-container <% if(!menu.sharingPermissions.allergens){ %>PDFIgnore<% } %>">
                        <% for(let i = 0; i < menu.allergens.length; i++){ %>
                            <span class="allergen">
                                <i class="material-icons">warning</i>
                                <%= menu.allergens[i] %>
                            </span>
                        <% } %>
                    </div>
                <% } %>
                <div id="add-recipe-container">
                    <input type="hidden" value="<%= JSON.stringify(menu.recipes.map(r => r.id)) %>" name="recipesRelJSON" id="recipe-input">
                    <h3>Recipes</h3>
                    <% if(auth){ %>
                        <p class="plus-button PDFIgnore"><button onclick="toggleArr(['add-recipe'], ['add-recipe-input', 'save-recipe'])" type="button">
                            <i class="material-icons" id="add-recipe">add</i>
                            <i class="material-icons" id="save-recipe" style="display: none" onclick="addRecipe()">done</i>
                        </button> Add Recipes</p>
                        <div id="add-recipe-input" style="display: none" class="grey-inputs">
                            <input type="text" placeholder="Recipe name" list="recipe-datalist" id="add-recipe-input-text" style="width: 300px">
                        </div>
                    <% } %>
                    <% for(let i = 0; i < menu.recipes.length; i++){ %>
                        <div id="recipe-<%= menu.recipes[i].id %>" class="flex-container step brigade">
                            <div class="flex-container" style="flex: 1">
                                <% let found %>
                                <% for(let k = 0; k < menu.recipes[i].filePaths.length; k++){ %>
                                    <% let src = menu.recipes[i].filePaths[k] %>
                                    <% let path = src.split('.') %>
                                    <% let ext = path[path.length - 1].toLowerCase() %>
                                    <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg' || ext == 'jpeg'){ %>
                                        <% found = src %>
                                    <% } %>
                                <% } %>
                                <% if(found){ %><img class="recipe-img" src="<%= found %>"><% } %>
                                <div style="flex: 1">
                                    <b><%= menu.recipes[i].name %></b><br style="height: 20px">
                                    <p style="margin: 5px 0">
                                        <%= menu.recipes[i].description %><br>
                                    </p>
                                    <% let cost = menu.recipes[i].costs %>
                                    <b style="font-size: 13px; color: #8C9EFF">
                                        <% if(auth || menu.sharingPermissions.misc){ %>
                                            <span class="<% if(!menu.sharingPermissions.misc){ %>PDFIgnore<% } %>"><%= c %><%= cost.misc %> misc, </span>
                                        <% } %>
                                        <% if(auth || menu.sharingPermissions.overhead){ %>
                                            <span class="<% if(!menu.sharingPermissions.overhead){ %>PDFIgnore<% } %>"><%= c %><%= cost.overhead %> overhead, </span>
                                        <% } %>
                                        <% if(auth || menu.sharingPermissions.labor){ %>
                                            <span class="<% if(!menu.sharingPermissions.labor){ %>PDFIgnore<% } %>"><%= c %><%= cost.labor %> labor, </span>
                                        <% } %>
                                        <% if(auth || menu.sharingPermissions.food){ %>
                                            <span class="<% if(!menu.sharingPermissions.food){ %>PDFIgnore<% } %>"><%= c %><%= menu.recipes[i].foodCost %> food, </span>
                                        <% } %>
                                        <% if(auth || menu.sharingPermissions.profit){ %>
                                            <span class="<% if(!menu.sharingPermissions.profit){ %>PDFIgnore<% } %>"><%= c %><%= menu.recipes[i].profit %> profit, </span>
                                        <% } %>
                                        <% if(auth || menu.sharingPermissions.profitMargin){ %>
                                            <span class="<% if(!menu.sharingPermissions.profitMargin){ %>PDFIgnore<% } %>"><%= menu.recipes[i].profitMargin %>% margin</span>
                                        <% } %>
                                    </b>
                                </div>
                            </div>
                            <div>
                                <% let p = menu.recipes[i].price %>
                                <% if(auth || menu.sharingPermissions.price){ %>
                                    <%= c %><%= p.val %>/<% if(p.qt != 1){ %><%= p.qt %> <% } %><%= p.units %>
                                <% } %>
                                <% if(auth){ %>
                                    <i class="material-icons PDFIgnore" onclick="removeRecipe(<%= menu.recipes[i].id %>, '<%= menu.recipes[i].name %>')">close</i>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <h3>Shopping List (1 of each recipe)</h3>
                <div id="shopping-list" style="display: block">
                    <% for(let i = 0; i < menu.ingredients.length; i++){ %>
                        <div class="flex-container step brigade">
                            <span><%= menu.ingredients[i].name %></span>
                            <div>
                                <% let w = 1 - menu.ingredients[i].wastage/100 %>
                                <%= Math.round(100*menu.ingredients[i].price.qt/w)/100 %> <%= menu.ingredients[i].price.units %>,
                                <%= c %><%= Math.round(100*menu.ingredients[i].price.val/w)/100 %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="business-info PDFShow no-break bottom" style="display: none">
                <img src="<%= menu.author.businessLogo %>">
                <span><%= menu.author.businessText %></span>
            </div>
            <% if(auth){ %>
                <div class="post-content PDFIgnore">
                    <button type="button" onclick="submitForm('delete-form')"><i class="material-icons" style="vertical-align: -1px">delete</i> Delete menu</button>
                </div>
                <div class="post-content" class="PDFIgnore">
                    <span id="menu-edit" style="display: none">
                        <input type="submit" class="cta" value="Save">
                        <button type="button" onclick="cancelEdit()">Cancel</button>
                    </span>
                </div>
            <% } %>
        </div>
    </div>
</form>
<script>
    function getShare(){
        let obj = {
            allergens: document.getElementById('allergens-share').value,
            profitMargin: document.getElementById('profit-margin-share').value,
            profit: document.getElementById('profit-share').value,
            price: document.getElementById('price-share').value,
            labor: document.getElementById('labor-share').value,
            overhead: document.getElementById('overhead-share').value,
            misc: document.getElementById('misc-share').value,
            food: document.getElementById('food-share').value
        }

        Object.keys(obj).map(key => {
            obj[key] = JSON.parse(obj[key]);
        });

        return obj;
    }

    function packageJSON(){
        let share = getShare();

        let shareInput = document.getElementById('sharing-input');

        shareInput.setAttribute('value', JSON.stringify(share));
    }
</script>
<% let user = menu.author %>
<% include partials/js/menuJs %>
<% include partials/js/genPDF %>
<% include partials/footer %>
