<% include partials/header %>
<div class="payment-header">
    <% include partials/forms/error %>
    <h1>Pricing Plans</h1>
    <hr>
    <p>Choose a payment plan based on how long you plan to use our platform</p>
</div>
<div class="profile-main recipe-main payment">
    <% for(let i = 0; i < plans.length; i++){ %>
        <div class="post-card">
            <div class="post-content">
                <p><i class="material-icons"><%= plans[i].icon %></i><%= plans[i].nickname %></p>
                <p><%= plans[i].description %></p>
                <p>$<%= plans[i].amount %></p>
                <a href="/payment/signup/<%= plans[i].id %>">Choose</a>
            </div>
        </div>
    <% } %>
</div>
<% include partials/footer %>
