<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid && !session.emailPending %>
<% } %>
<% if(locals.public){ %>
    <div class="profile-header-container">
        <div class="profile-header-overlay" style="color: white; opacity: 1">
            <div class="center-inline">
                <h1 style="font-weight: 300; font-size: 45px">Public Recipes</h1>
            </div>
        </div>
        <div class="profile-header"
         style="background: url(/img/static/recipes.jpg); background-size: cover">
        </div>
    </div>
<% }else{ %>
    <div class="profile-nav ingredients-header">
        <h1>Recipes</h1>
    </div>
<% } %>
<div class="profile-main recipes-public add-recipe recipe-main">
    <div class="profile-card">
        <h1>
            <i class="material-icons">restaurant</i>
            Find Recipes
        </h1>
        <% if(!locals.public){ %>
            <div class="double">
                <button class="active" onclick="toggleAct('owned', 'shared')" id="owned">Owned</button><button onclick="toggleAct('shared', 'owned')" id="shared">Shared</button>
            </div>
        <% } %>
        <% include partials/alphabet %>
    </div>
    <div class="profile-feed" id="posts">
        <% include partials/forms/error %>
        <% if(!locals.public && !expired){ %>
            <button class="add-post" id="add-post-button">
                <a href="/recipes/create" style="width: 100%"><i class="material-icons">add</i> Add Recipe</a>
            </button>
        <% } %>
        <% if(recipes.length == 0 && locals.public){ %>
            <p style="text-align: center">No public recipes found</p>
        <% } %>
        <% for(let i = recipes.length - 1; i >= 0; i--){ %>
            <% let auth;
                if(locals.public){
                    auth = recipes[i].author.id == session.userID;
                }else{
                    auth = recipes[i].sharedUsers.filter(s => s.id == session.userID).length == 0;
                } %>
            <div class="post-card <% if(!locals.public){ %><% if(auth){ %>recipe-owned<% }else{ %>recipe-shared<% } %><% } %>">
                <div class="post-header">
                    <span><%= recipes[i].name %></span>
                    <time class="timeago" datetime="<%= new Date(recipes[i].timestamp).toISOString() %>"></time>
                </div>
                <% if(!locals.public){ %>
                    <div class="post-content flex-container heading-icons">
                        <span><i class="material-icons">people</i>
                            <% if(auth){ %>Author<% }else{ %><%= recipes[i].author.username %><% } %>
                        </span>
                    </div>
                <% }else{ %>
                    <% if(recipes[i].credit){ %>
                        <div class="post-content">
                            <span style="font-weight: 300; color: grey; font-style: italic">Credit: <%= recipes[i].credit %> </span>
                        </div>
                    <% } %>
                <% } %>
                <div class="post-content">
                    <%- recipes[i].description.substring(0, 300) %>
                    <% if(recipes[i].description.length > 200){ %>...<% } %>
                </div>
                <div class="post-content media">
                    <% for(let k = 0; k < Math.min(4, recipes[i].filePaths.length); k++) { %>
                        <% let src = recipes[i].filePaths[k] %>
                        <% let path = src.split('.') %>
                        <% let ext = path[path.length - 1].toLowerCase() %>
                        <div class="media-container">
                            <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg' || ext == 'jpeg'){ %>
                                <img src="<%= src %>">
                            <% }else{ %>
                                <video controls><source src="<%= src %>"></video>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="post-content">
                    <% if(!auth && !expired && !recipes[i].transferID){ %>
                        <form style="display: inline" method="POST" action="/recipes/transfer/<%= recipes[i].id %>?_method=PUT">
                            <button class="button-cta">Get recipe</button>
                        </form>
                    <% } %>
                    <% if(recipes[i].transferID && !auth){ %><a class="button-cta" href="/recipes/<%= recipes[i].transferID %>">You already have this recipe</a><% } %>
                    <a class="cta" href="/recipes/<%= recipes[i].id %>">View</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
<script>
    $(`.recipe-owned`).show();
    $(`.recipe-shared`).hide();

    function toggleActive(id1, id2){
        $(`#${id1}`).toggleClass('active');
        $(`#${id2}`).toggleClass('active');
    }

    function toggleAct(id1, id2){
        toggleActive(id1, id2);

        $(`.recipe-${id1}`).show();
        $(`.recipe-${id2}`).hide();
    }
</script>
<% include partials/footer %>
