<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid && !session.emailPending %>
<% } %>
<% if(locals.public){ %>
    <div class="profile-header-container">
        <div class="profile-header-overlay" style="color: white; opacity: 1">
            <div class="center-inline">
                <h1 style="font-weight: 300; font-size: 45px">Public Recipes</h1>
            </div>
        </div>
        <div class="profile-header"
         style="background: url(/img/static/recipes.jpg); background-size: cover">
        </div>
    </div>
<% }else{ %>
    <div class="profile-nav ingredients-header">
        <h1>Recipes</h1>
    </div>
<% } %>
<div class="profile-main <% if(locals.public){ %>recipes-public add-recipe<% } %> recipe-main">
    <% if(locals.public){ %>
        <div class="profile-card">
            <h1>
                <i class="material-icons">restaurant</i>
                Find Recipes
            </h1>
            <% include partials/alphabet %>
        </div>
    <% } %>
    <div class="profile-feed" id="posts">
        <% include partials/forms/error %>
        <% if(!locals.public && !expired){ %>
            <button class="add-post" id="add-post-button">
                <a href="/recipes/create" style="width: 100%"><i class="material-icons">add</i> Add Recipe</a>
            </button>
        <% } %>
        <% if(recipes.length == 0 && locals.public){ %>
            <p style="text-align: center">No public recipes found</p>
        <% } %>
        <% for(let i = recipes.length - 1; i >= 0; i--){ %>
            <% let auth;
                if(locals.public){
                    auth = recipes[i].author.id == session.userID;
                }else{
                    auth = recipes[i].sharedUsers.filter(s => s.id == session.userID).length == 0;
                } %>
            <div class="post-card">
                <div class="post-header">
                    <span><%= recipes[i].name %></span>
                    <time class="timeago" datetime="<%= new Date(recipes[i].timestamp).toISOString() %>"></time>
                </div>
                <% if(!locals.public){ %>
                    <div class="post-content flex-container heading-icons">
                        <span><i class="material-icons">people</i>
                            <% if(auth){ %>Author<% }else{ %>Viewer<% } %>
                        </span>
                    </div>
                <% } %>
                <div class="post-content">
                    <%= recipes[i].description %>
                </div>
                <div class="post-content media">
                    <% for(let k = 0; k < recipes[i].filePaths.length; k++) { %>
                        <% let src = recipes[i].filePaths[k] %>
                        <% let path = src.split('.') %>
                        <% let ext = path[path.length - 1].toLowerCase() %>
                        <div class="media-container">
                            <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg' || ext == 'jpeg'){ %>
                                <img src="<%= src %>">
                            <% }else{ %>
                                <video controls><source src="<%= src %>"></video>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="post-content">
                    <% if(!auth && !expired){ %>
                        <form style="display: inline" method="POST" action="/recipes/transfer/<%= recipes[i].id %>?_method=PUT">
                            <button class="button-cta">Get recipe</button>
                        </form>
                    <% } %>
                    <a class="cta" href="/recipes/<%= recipes[i].id %>">View</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
<% include partials/footer %>
