<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid %>
<% } %>
<% include partials/lists/units %> <!-- TODO: add ingredient brands -->
<% let auth = (recipe.author.id == session.userID) && !expired %>
<% let c = recipe.author.currency %>
<div class="profile-nav ingredients-header">
    <h1>View Recipe</h1>
</div>
<form style="display: none" id="delete-form" method="POST" action="/recipes/delete/<%= recipe.id %>?_method=DELETE"></form>
<form class="profile-main add-recipe" method="POST" action="/recipes/update/<%= recipe.id %>?_method=PATCH" enctype="multipart/form-data"
onclick="toggleEdit('edit-recipe', '', '')" onsubmit="packageJSON()" id="recipe-form">
    <div class="profile-card">
        <h1><i class="material-icons">people</i><% if(auth){ %>Sharing Settings<% }else{ %>Recipe Info<% } %></h1>
        <% if(auth && !session.admin){ %>
            <div class="allergens flex-container <% if(!recipe.sharingPermissions.allergens){ %>PDFIgnore<% } %>" id="add-viewer-container" style="margin-bottom: 0">
                <input type="hidden" id="viewer-input" value="<%= JSON.stringify(recipe.sharedUsers.map(u => u.id)) %>" name="sharedUsersRelJSON">
                <div class="flex-container add-allergen" style="display: none" id="add-viewer">
                    <input type="text" list="user-datalist" placeholder="Add viewer" id="add-viewer-input">
                    <button type="button" onclick="addViewer()"><i class="material-icons">done</i></button>
                </div>
                <button type="button" class="edit-allergens"
                onclick="toggleArr(['viewer-close', 'add-viewer'], ['viewer-edit'])">
                    <i class="material-icons" id="viewer-edit">edit</i>
                    <i class="material-icons" id="viewer-close" style="display: none">minimize</i>
                </button>
                <% for(let i  = 0; i < recipe.sharedUsers.length; i++){ %>
                    <span class="allergen" id="user-<%= recipe.sharedUsers[i].id %>" style="background-color: #536DFE">
                        <%= recipe.sharedUsers[i].username %>
                        <i class="material-icons" onclick="removeViewer(<%= recipe.sharedUsers[i].id %>, '<%= recipe.sharedUsers[i].username %>')" style="display: inline">close</i>
                    </span>
                <% } %>
            </div>
        <% }else{ %>
            <input type="hidden" id="viewer-input" value="[]" name="sharedUsersRelJSON">
        <% } %>
        <% if(auth){ %>
            <h2>Display to Viewers</h2>
        <% } %>
        <% if(auth || recipe.sharingPermissions.food || recipe.sharingPermissions.labor || recipe.sharingPermissions.misc || recipe.sharingPermissions.overhead){ %>
            <h3>Costs</h3>
        <% } %>
        <% if(auth || recipe.sharingPermissions.food){ %>
            <div class="checkbox flex-container">
                <div>Food - <%= c %><input type="number" step="0.01" id="food-input" value="<%= recipe.foodCost %>" disabled>
                </div>
                <% if(auth){ %>
                    <label class="switch">
                        <input type="checkbox"
                        id="food-share" <% if(recipe.sharingPermissions.food){ %> checked <% } %>><span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.labor){ %>
            <div class="checkbox flex-container">
                <div>Labour - <%= c %><input type="number" step="0.01" min="0" max="100000" value="<%= recipe.costs.labor %>" id="labor-input"
                oninput="changeCost('labor-input', 'labor')" <% if(!auth){ %>disabled<% } %> required></div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="labor-share" <% if(recipe.sharingPermissions.labor){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.misc){ %>
            <div class="checkbox flex-container">
                <div>Misc - <%= c %>
                    <input type="number" step="0.01" min="0" max="100000" value="<%= recipe.costs.misc %>" id="misc-input" oninput="changeCost('misc-input', 'misc')"
                    <% if(!auth){ %>disabled<% } %> required>
                </div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="misc-share" <% if(recipe.sharingPermissions.misc){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.overhead){ %>
            <div class="checkbox flex-container">
                <div>Overhead - <%= c %><input type="number" min="0" max="100000" step="0.01" value="<%= recipe.costs.overhead %>" id="overhead-input"
                oninput="changeCost('overhead-input', 'overhead')" <% if(!auth){ %>disabled<% } %> required></div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="overhead-share" <% if(recipe.sharingPermissions.overhead){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.shareServingCost){ %>
            <div class="checkbox flex-container">
                <div>Portion- <%= c %><input type="number" step="0.01" value="<%= recipe.servingCost %>" id="serving-cost-input" disabled></div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    name="shareServingCostJSON" <% if(recipe.shareServingCost){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.profitMargin || recipe.sharingPermissions.profit || recipe.sharingPermissions.price){ %>
            <h3>Profit</h3>
        <% } %>
        <% let color = recipe.profit < 0 ? 'coral' : '#00E676' %>
        <% if(recipe.profit == 0) color = 'inherit' %>
        <% if(auth || recipe.sharingPermissions.profitMargin){ %>
            <div class="checkbox flex-container">
                <div>Profit -
                    <input type="number" step="0.01" value="<%= recipe.profitMargin %>" id="profit-margin"
                    oninput="adjustMargin()" style="color: <%= color %>" required>%
                </div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="profit-margin-share" <% if(recipe.sharingPermissions.profitMargin){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.profit){ %>
            <div class="checkbox flex-container">
                <div>Profit - <%= c %>
                    <input type="number" step="0.01" value="<%= Math.round(100*recipe.profit)/100 %>" id="profit" style="color: <%= color %>" disabled>
                </div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="profit-share" <% if(recipe.sharingPermissions.profit){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth || recipe.sharingPermissions.price){ %>
            <div class="checkbox flex-container">
                <div>Price - <%= c %><input type="number" step="0.01" min="0" max="100000" value="<%= recipe.price.val %>" id="price" oninput="changePrice()"
                <% if(!auth){ %>disabled<% } %> required></div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="price-share" <% if(recipe.sharingPermissions.price){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth){ %>
            <h3>Other</h3>
            <div class="checkbox flex-container">
                <div>Allergens</div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox"
                    id="allergens-share" <% if(recipe.sharingPermissions.allergens){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
        <% } %>
        <% if(auth){ %>
            <h2>Public</h2>
            <div class="checkbox flex-container">
                <div>Display in feed</div>
                <% if(auth){ %>
                    <label class="switch"><input type="checkbox" name="feedJSON" <% if(recipe.feed){ %> checked <% } %>>
                        <span class="slider"></span>
                    </label>
                <% } %>
            </div>
            <h2>Export</h2>
            <button type="button" onclick="genPDF()" style="border-radius: 5px; margin: 10px auto; padding: 10px">Get a PDF or print</button>
        <% } %>
    </div>
    <div class="profile-feed" id="PDFContent">
        <% include partials/forms/error %>
        <div class="post-card" style="box-shadow: none">
            <div class="post-header">
                <span onclick="toggle('name', 'update-name')" id="name" style="font-size: 35px"><%= recipe.name %></span>
                <% if(auth){ %><input type="text" value="<%= recipe.name %>" name="name" style="display: none" id="update-name" required><% } %>
            </div>
            <p class="PDFShow" style="display: none">
                <% let p = recipe.price %>
                <% if(recipe.sharingPermissions.price){ %>
                    Price: <%= c %><%= p.val %> / <% if(p.qt != 1){ %><%= p.qt %> <% } %><%= p.units %>
                <% } %>
            </p>
            <% if(recipe.sharingPermissions.misc || recipe.sharingPermissions.overhead || recipe.shareServingCost || recipe.sharingPermissions.labor || recipe.sharingPermissions.food || recipe.sharingPermissions.profit || recipe.sharingPermissions.profitMargin){ %>
                <p class="PDFShow" style="display: none"><b style="color: #8C9EFF">
                    <% let cost = recipe.costs %>
                    Costs:
                    <% if(recipe.sharingPermissions.misc){ %>
                        <%= c %><%= cost.misc %> misc,
                    <% } %>
                    <% if(recipe.sharingPermissions.overhead){ %>
                        <%= c %><%= cost.overhead %> overhead,
                    <% } %>
                    <% if(recipe.shareServingCost){ %>
                        <%= c %><%= recipe.servingCost %> per portion,
                    <% } %>
                    <% if(recipe.sharingPermissions.labor){ %>
                        <%= c %><%= cost.labor %> labor,
                    <% } %>
                    <% if(recipe.sharingPermissions.food){ %>
                        <%= c %><%= recipe.foodCost %> food,
                    <% } %>
                    <% if(recipe.sharingPermissions.profit){ %>
                        <%= c %><%= recipe.profit %> profit,
                    <% } %>
                    <% if(recipe.sharingPermissions.profitMargin){ %>
                        <%= recipe.profitMargin %>% margin
                    <% } %>
                </b></p>
            <% } %>
            <div class="post-content media">
                <input type="hidden" name="filePathsJSON" value="<%= JSON.stringify(recipe.filePaths) %>" id="file-list">
                <input type="hidden" name="deletedMeta" id="deleted">
                <% for(let i = 0; i < recipe.filePaths.length; i++) { %>
                    <% let src = recipe.filePaths[i] %>
                    <% let path = src.split('.') %>
                    <% let ext = path[path.length - 1].toLowerCase() %>
                    <div class="media-container">
                        <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg' || ext == 'jpeg'){ %>
                            <img src="<%= src %>">
                        <% }else{ %>
                            <video controls><source src="<%= src %>"></video>
                        <% } %>
                        <% if(auth){ %>
                            <div class="media-overlay PDFIgnore">
                                <div class="center-inline">
                                    <button onclick="deleteImg('<%= src %>')"><i class="material-icons">delete</i></button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <% if(auth && recipe.filePaths.length < 6){ %>
                <div class="post-content PDFIgnore" style="margin-bottom: 0">
                    <div class="form-upl-wrapper">
                        <input type="file" name="recipeUpl" accept=".jpg,.png,.svg,.bmp,.mp4" oninput="submitForm('recipe-form')">
                        <button class="form-upl" type="button">Add photos and videos</button>
                    </div>
                </div>
            <% } %>
            <div class="post-content">
                <p id="description" onclick="toggle('description', 'update-description')"><%= recipe.description || 'no description' %></p>
                <p id="update-description" style="display: none">
                    <textarea name="description" placeholder="Description"><%= recipe.description %></textarea>
                </p>
                <h3>Ingredients</h3>
                <% if((auth || recipe.sharingPermissions.allergens) && recipe.allergens.length > 0){ %>
                    <div class="allergens flex-container">
                        <% for(let i = 0; i < recipe.allergens.length; i++){ %>
                            <span class="allergen">
                                <i class="material-icons">warning</i>
                                <%= recipe.allergens[i] %>
                            </span>
                        <% } %>
                    </div>
                <% } %>
                <div id="add-ingredient-container">
                    <input type="hidden" value="<%= JSON.stringify(recipe.ingredients.map(i => i.id)) %>" name="ingredientsRelJSON" id="ingredient-input">
                    <input type="hidden" value="<%= JSON.stringify(recipe.subRecipes.map(r => r.id)) %>" name="subRecipesRelJSON" id="subrecipe-input">
                    <input type="hidden" value="<%= JSON.stringify(recipe.quantities) %>" name="quantitiesJSON" id="quantity-input">
                    <input type="hidden" value="<%= JSON.stringify(recipe.recipeQuantities) %>" name="recipeQuantitiesJSON" id="recipe-quantity-input">
                    <% if(auth){ %>
                        <p class="plus-button PDFIgnore"><button onclick="toggleArr(['add-ingredient'], ['add-ingredient-input', 'save-ingredient'])" type="button">
                            <i class="material-icons" id="add-ingredient">add</i>
                            <i class="material-icons" id="save-ingredient" style="display: none" onclick="addIngredient()">done</i>
                        </button> Add ingredient</p>
                        <div id="add-ingredient-input" style="display: none" class="grey-inputs">
                            <input type="text" placeholder="Ingredient or subrecipe name" oninput="getUnits()" list="ingredient-datalist">
                            <input type="number" placeholder="# of">
                            <select>
                            </select>
                        </div>
                    <% } %>
                    <% for(let i = 0; i < recipe.ingredients.length; i++){ %>
                        <% let total = recipe.ingredients[i].price.val * recipe.ingredients[i].unitConvert(recipe.quantities[i]) %>
                        <p id="ingredient-<%= recipe.ingredients[i].id %>" class="step flex-container brigade">
                            <span><%= recipe.quantities[i].qt %> <%= recipe.quantities[i].units %> <%= recipe.ingredients[i].name %></span>
                            <% if(auth){ %>
                                <i class="material-icons PDFIgnore"
                                onclick="removeIngredient(<%= recipe.ingredients[i].id %>, <%= total %>, '<%= recipe.ingredients[i].name %>', false)">
                                    close
                                </i>
                            <% } %>
                        </p>
                    <% } %>
                    <% for(let i = 0; i < recipe.subRecipes.length; i++){ %>
                        <% let qt = recipe.recipeQuantities[i].qt %>
                        <% let sub = recipe.subRecipes[i] %>
                        <% for(let key in sub){ sub.costs[key] *= qt } %>
                        <% let total = {...sub.costs, ...{food: qt * sub.foodCost}} %>
                        <p id="ingredient-<%= sub.id %>" class="step flex-container brigade">
                            <span><%= recipe.recipeQuantities[i].qt %> <%= recipe.recipeQuantities[i].units %> <%= sub.name %></span>
                            <% if(auth){ %>
                                <i class="material-icons PDFIgnore"
                                onclick="removeIngredient(<%= sub.id %>, '<%= JSON.stringify(total) %>', '<%= sub.name %>', false)">
                                    close
                                </i>
                            <% } %>
                        </p>
                    <% } %>
                </div>
                <h3>Steps</h3>
                <div id="add-step-container">
                    <input type="hidden" value="<%= JSON.stringify(recipe.steps) %>" name="stepsJSON" id="step-input">
                    <% if(auth){ %>
                        <p class="plus-button PDFIgnore"><button onclick="toggleArr(['add-step'], ['add-step-input', 'save-step'])" type="button">
                            <i class="material-icons" id="add-step">add</i>
                            <i class="material-icons" id="save-step" style="display: none" onclick="addStep()">done</i>
                        </button> Add steps</p>
                        <textarea id="add-step-input" placeholder="Describe recipe step" style="display: none"></textarea>
                    <% } %>
                    <% for(let i = 0; i < recipe.steps.length; i++){ %>
                        <p id="step-<%= i %>" class="flex-container step brigade">
                            <span><%= recipe.steps[i] %></span>
                            <% if(auth){ %>
                                <i class="material-icons PDFIgnore" onclick="removeStep(<%= i %>)">close</i>
                            <% } %>
                        </p>
                    <% } %>
                </div>
                <div class="grey-inputs small-inputs" style="margin-top: 20px">
                    <h3 style="display: inline">Yield: </h3>
                    <span id="yield" onclick="toggle('yield', 'update-yield')" style="font-weight: bold; color: #8C9EFF"><%= recipe.price.qt %> <%= recipe.price.units %></span>
                    <% if(auth){ %>
                        <span id="update-yield" style="display: none">
                            <input type="number" min="0" max="100000" value="<%= recipe.price.qt %>" id="qt" required>
                            <input type="text" list="units-datalist" value="<%= recipe.price.units %>" id="units" disabled>
                        </span>
                    <% } %>
                </div>
                <p></p>
                <% if(auth || recipe.shareServingCost){ %>
                    <div class="grey-inputs small-inputs">
                        <h3 style="display: inline">Serves: </h3>
                        <span id="serves" onclick="toggle('serves', 'serving-input')" style="font-weight: bold; color: #8C9EFF"><%= recipe.serves %></span>
                        <% if(auth){ %>
                            <input type="number" min="1" placeholder="# of servings" name="servesJSON" value="<%= recipe.serves %>"
                            style="width: 17.5%; display: none" oninput="changeServing()" id="serving-input" required>
                        <% } %>
                    </div>
                <% } %>
                <p class="PDFIgnore">
                    <button type="button" class="form-upl" onclick="openDiv('nutrition-label')">Show nutritional label</button>
                </p>
                <div class="post-content PDFShow no-break" id="nutrition-label" style="display: none; padding: 0; margin-top: 40px">
                    <% if(!recipe.nutritionalInfo){ %>
                        <span style="color: coral">Not all of the ingredients have nutritional info</span>
                    <% } %>
                </div>
            </div>
            <div class="business-info PDFShow no-break bottom" style="display: none">
                <img src="<%= recipe.author.businessLogo %>">
                <span><%= recipe.author.businessText %></span>
            </div>
            <% if(auth){ %>
                <% if(recipe.menus.length == 0){ %>
                    <div class="post-content PDFIgnore">
                        <button type="button" onclick="submitForm('delete-form')"><i class="material-icons" style="vertical-align: -1px">delete</i> Delete recipe</button>
                    </div>
                <% } %>
                <div class="post-content PDFIgnore">
                    <span id="edit-recipe" style="display: none">
                        <input type="submit" class="cta" value="Save">
                        <button type="button" onclick="cancelEdit()">Cancel</button>
                    </span>
                </div>
            <% } %>
        </div>
    </div>
    <input type="hidden" id="sharing-input" name="sharingPermissionsJSON">
    <input type="hidden" id="costs-input" name="costsJSON">
    <input type="hidden" id="price-input" name="priceJSON">
</form>
<% include partials/js/nutritionJs %>
<% let user = recipe.author %>
<% include partials/js/recipeJs %>
<script>
    function getShare(){
        let obj = {
            allergens: document.getElementById('allergens-share').value,
            profitMargin: document.getElementById('profit-margin-share').value,
            profit: document.getElementById('profit-share').value,
            price: document.getElementById('price-share').value,
            labor: document.getElementById('labor-share').value,
            overhead: document.getElementById('overhead-share').value,
            misc: document.getElementById('misc-share').value,
            food: document.getElementById('food-share').value
        }

        Object.keys(obj).map(key => {
            obj[key] = JSON.parse(obj[key]);
        });

        return obj;
    }
    function getPrice(){
        return {
            val: price,
            qt: JSON.parse(document.getElementById('qt').value),
            units: document.getElementById('units').value
        };
    }
    function packageJSON(){
        let share = getShare();
        let prices = getPrice();

        delete cost.food;

        let shareInput = document.getElementById('sharing-input');
        let costsInput = document.getElementById('costs-input');
        let priceInput = document.getElementById('price-input');

        shareInput.setAttribute('value', JSON.stringify(share));
        costsInput.setAttribute('value', JSON.stringify(cost));
        priceInput.setAttribute('value', JSON.stringify(prices));
    }
</script>
<% include partials/js/genPDF %>
<% include partials/footer %>
