<% include partials/header %>
<% let expired = false %>
<% if(locals.session){ %>
    <% expired = session.paymentStatus != 'ACTIVE' && !session.admin && session.paid && !session.emailPending %>
<% } %>
    <% let auth = (session.userID == user.id) && !expired %>
    <form class="profile-header-container" method="POST" action="/users/update?_method=PATCH" enctype="multipart/form-data">
        <% if(auth){ %>
            <div class="profile-header-overlay">
                <div class="center-inline">
                    <div class="form-upl-wrapper" onclick="toggleEdit('background-edit', '', '', 'inline-block')">
                        <input id="background-media-upl" type="file" name="backgroundUpl" accept=".jpg,.png,.svg,.bmp,.jpeg" oninput="previewUpdate('background-media-upl', 'background-media')" required>
                        <button class="form-upl"><i class="material-icons">camera_alt</i></button>
                    </div>
                    <div id="background-edit" style="display:none">
                        <button type="button"onclick="cancelEdit()" style="display: inline-block"><i class="material-icons">cancel</i></button>
                        <button style="display: inline-block"><i class="material-icons">check</i></button>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="profile-header" id="background-media"
         style="background: <% if(user.background != ''){ %> url(<%= user.background %>) <% }else{ %> linear-gradient(45deg, #8C9EFF, #304FFE) <% } %>;background-size: cover !important; background-position: center"></div>
    </form>
    <div class="profile-nav" id="profile-nav-uq">
        <button class="profile-nav-button active" id="posts" onclick="toggleActivate('profile-feed-feed', 'profile-feed-brigade')">
            Posts
        </button>
        <button class="profile-nav-button" id="brigade" onclick="toggleActivate('profile-feed-brigade', 'profile-feed-feed')">
            Brigade
        </button>
    </div>
    <div class="profile-main">
        <form class="profile-card" method="POST" action="/users/update?_method=PATCH&id=<%= user.id %>" enctype="multipart/form-data" id="user-edit-form">
            <div class="avatar-container">
                <% if(auth){ %>
                    <div class="avatar-overlay">
                        <div class="form-upl-wrapper" onclick="toggleEdit('user-edit')">
                            <input type="file" name="avatarUpl" accept=".jpg,.png,.svg,.bmp,.jpeg" id="avatar-media-upl" oninput="previewUpdate('avatar-media-upl', 'avatar-media')">
                            <button class="form-upl"><i class="material-icons">camera_alt</i></button>
                        </div>
                    </div>
                <% } %>
                <div class="img" id="avatar-media" style="background-image: url(<%= user.avatar %>)"></div>
            </div>
            <div class="card-heading">
                <h1><%= user.name.first %> <%= user.name.last %></h1>
                <% if(!auth && !expired){ %>
                    <% let b = (user.brigade && user.brigade.map(u => u.id)) || [] %>
                    <% let r = (user.requested && user.requested.map(u => u.id)) || [] %>
                    <% let following = b.indexOf(session.userID) != -1 %>
                    <% let requested = r.indexOf(session.userID) != -1 %>
                    <% if(following){ %>
                        <button class="add-button" disabled>Following <i class="material-icons">done</i></button>
                    <% }else if(requested) { %>
                        <button class="add-button" disabled>Requested <i class="material-icons">person</i></button>
                    <% }else{ %>
                        <% r.push(session.userID) %>
                        <input type="hidden" name="requestedRelJSON" value="[<%= r %>]">
                        <button class="add-button">Add <i class="material-icons">add</i></button>
                    <% } %>
                <% } %>
            </div>
            <p>
                <span id="bio" class="<% if(auth){ %>editable<% } %>" onclick="toggleEdit('user-edit', 'bio', 'bio-edit')"><%= user.bio %></span>
                <% if(auth){ %><textarea id="bio-edit" name="bio" style="display: none"><%= user.bio %></textarea><% } %>
            </p>
            <% if(auth){ %>
                <div class="post-content grey-inputs account-edit">
                    <h3>Account Info</h3>
                    <span class="<% if(auth){ %>editable<% } %>" onclick="toggleEdit('user-edit', 'currency', 'currency-edit')" id="currency">
                        Currency symbol - <%= user.currency %>
                    </span>
                    <input type="text" id="currency-edit" placeholder="Symbol" value="<%= user.currency %>" name="currency" style="display: none" required>
                    <span onclick="toggleEdit('user-edit', 'measurements', 'measurements-edit')" id="measurements" class="<% if(auth){ %>editable<% } %>">
                        Units - <%= user.system %>
                    </span>
                    <select id="measurements-edit" name="system" style="display: none">
                        <option value="imperial" <% if(user.system == 'imperial'){ %>selected<% } %>>Imperial</option>
                        <option value="metric" <% if(user.system == 'metric'){ %>selected<% } %>>Metric</option>
                    </select>
                </div>
                <div class="post-content grey-inputs account-edit">
                    <h3>Business Info</h3>
                    <% if(user.businessLogo){ %>
                        <div class="avatar-container">
                            <% if(auth){ %>
                                <div class="avatar-overlay" style="border-radius: 0 !important">
                                    <div class="form-upl-wrapper" onclick="toggleEdit('user-edit')">
                                        <input type="file" name="businessLogoUpl" accept=".jpg,.png,.svg,.bmp,.mp4" oninput="submitForm('user-edit-form')">
                                        <button class="form-upl"><i class="material-icons">camera_alt</i></button>
                                    </div>
                                </div>
                            <% } %>
                            <div class="img" style="background-image: url(<%= user.businessLogo %>); border-radius: 0"></div>
                        </div>
                    <% }else{ %>
                        <div class="form-upl-wrapper">
                            <button class="form-upl" style="margin: 0 auto">Add logo</button>
                            <input type="file" name="businessLogoUpl" accept=".jpg,.png,.svg,.bmp,.mp4" oninput="submitForm('user-edit-form')">
                        </div>
                    <% } %>
                    <p>
                        <span onclick="toggleEdit('user-edit', 'business-text', 'business-text-edit')" id="business-text">
                            <% if(user.businessText){ %>
                                <%= user.businessText %>
                            <% }else{ %>
                                No text
                            <% } %>
                        </span>
                        <textarea id="business-text-edit" placeholder="Business Text" name="businessText"
                        style="display: none"><% if(user.businessText){ %><%= user.businessText %><% }else{ %>No description<% } %></textarea>
                    </p>
                </div>
                <p class="inline-center" id="user-edit" style="display: none">
                    <input type="submit" value="Save">
                    <button onclick="cancelEdit()" type="button">Cancel</button>
                </p>
            <% } %>
        </form>
        <div class="profile-feed" id="profile-feed-feed">
            <% include partials/forms/error %>
            <% if(auth){ %>
                <button class="add-post" id="add-post-button" onclick="toggle('add-post-button', 'new-post')">
                    <i class="material-icons">add</i> Add Post
                </button>
            <% } %>
            <form class="post-card" id="new-post" style="display: none" method="POST" action="/posts/create" enctype="multipart/form-data">
                <div class="post-header"><input type="text" name="name" placeholder="Title" required></div>
                <div class="post-content">
                    <textarea placeholder="Text" name="contentOpt"></textarea><br>
                </div>
                <% if(session.admin){ %>
                    <div class="post-content">
                        <label class="switch">
                            <input type="checkbox" name="landingJSON"><span class="slider"></span>
                        </label>
                        <span>Show on landing page (max 3 posts)</span>
                    </div>
                <% } %>
                <div class="post-content media" id="media-container-0"></div>
                <div class="post-content">
                    <div class="form-upl-wrapper">
                        <input type="file" name="postUplMulti8" accept=".jpg,.png,.svg,.bmp,.mp4" id="post-file-0" oninput="previewMedia('post-file-0', 'media-container-0')" multiple>
                        <button class="form-upl">Add photos and videos</button>
                    </div><br>
                    <input type="submit" value="Post">
                    <button type="button" onclick="toggle('new-post', 'add-post-button')">Cancel</button>
                </div>
            </form>
            <% posts = posts.concat(user.recipes.filter(r => r.feed)).sort((a, b) => {
                return new Date(a.timestamp) - new Date(b.timestamp)
            }) %>
            <% for(let i = posts.length - 1; i >= 0; i--){ %>
                <% if(posts[i].feed){ %>
                        <form class="post-card" method="POST" action="/recipes/update/<%= posts[i].id %>?_method=PATCH">
                            <div class="post-header">
                                <span><%= posts[i].name %></span>
                                <time class="timeago" datetime="<%= new Date(posts[i].timestamp).toISOString() %>"></time>
                            </div>
                            <div class="post-content star-rating-container">
                                <% let sum = 0;
                                    for(let rating of posts[i].ratings){
                                        sum += rating.val
                                    } %>
                                <i class="material-icons star-rating">star</i><span><%= Math.round(10*sum/posts[i].ratings.length)/10 %></span>
                            </div>
                            <div class="post-content">
                                <%= posts[i].description %>
                            </div>
                            <div class="post-content media">
                                <% for(let k = 0; k < posts[i].filePaths.length; k++) { %>
                                    <% let src = posts[i].filePaths[k] %>
                                    <% let path = src.split('.') %>
                                    <% let ext = path[path.length - 1].toLowerCase() %>
                                    <div class="media-container">
                                        <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg'){ %>
                                            <img src="<%= src %>">
                                        <% }else{ %>
                                            <video controls><source src="<%= src %>"></video>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                            <% if(!auth && posts[i].ratings.map(r => r.userID).indexOf(session.userID) == -1){ %>
                                <% include partials/forms/stars %>
                            <% } %>
                            <% if(auth || posts[i].sharedUsers.filter(u => u.id == session.userID).length > 0){ %>
                                <div class="post-content" style="padding-bottom: 20px">
                                    <a class="cta" href="/recipes/<%= posts[i].id %>">View</a>
                                </div>
                            <% } %>
                        </form>
                    <% }else{ %>
                        <form style="display: none" id="delete-form-<%= posts[i].id %>" method="POST" action="/posts/delete/<%= posts[i].id %>?_method=DELETE"></form>
                        <form method="POST"
                        action="/posts/update/<%= posts[i].id %>?_method=PATCH&userID=<%= user.id %>" class="post-card" enctype="multipart/form-data" id="post-form-<%= posts[i].id %>">
                            <div class="post-header">
                                <span class="<% if(auth){ %>editable<% } %>" id="post-title<%= posts[i].id %>"
                                onclick="toggleEdit('post-update<%= posts[i].id %>', 'post-title<%= posts[i].id %>', 'post-title-update<%= posts[i].id %>')">
                                    <%= posts[i].name %>
                                </span>
                                <% if(auth){ %>
                                    <span id="post-title-update<%= posts[i].id %>" style="display: none">
                                        <input type="text" placeholder="Title" value="<%= posts[i].name %>" name="name" required>
                                    </span>
                                <% } %>
                                <time class="timeago" datetime="<%= new Date(posts[i].timestamp).toISOString() %>"></time>
                            </div>
                            <div class="post-content star-rating-container">
                                <% let sum = 0;
                                    for(let rating of posts[i].ratings){
                                        sum += rating.val
                                    } %>
                                <i class="material-icons star-rating">star</i><span>
                                    <%= posts[i].ratings.length == 0 ? 'No ratings' : Math.round(10*sum/posts[i].ratings.length)/10 %>
                                </span>
                            </div>
                            <div class="post-content <% if(auth){ %>editable<% } %>" id="post-text<%= posts[i].id %>" onclick="toggleEdit('post-update<%= posts[i].id %>', 'post-text<%= posts[i].id %>', 'post-text-edit<%= posts[i].id %>')">
                                <% if(posts[i].author.admin){ %>
                                    <%- posts[i].content %>
                                <% }else{ %>
                                    <%= posts[i].content %>
                                <% } %>
                            </div>
                            <% if(auth){ %>
                                <div class="post-content" id="post-text-edit<%= posts[i].id %>" style="display: none">
                                    <textarea name="content"><%= posts[i].content %></textarea>
                                </div>
                            <% } %>
                            <input type="hidden" name="filePathsJSON" id="filePaths<%= posts[i].id %>"
                            value="<%= JSON.stringify(posts[i].filePaths) %>">
                            <% if(session.admin && auth){ %>
                                <div class="post-content">
                                    <label class="switch">
                                        <input type="checkbox" name="landingJSON" <% if(posts[i].landing){ %>checked<% } %> onclick="openDiv('post-update<%= posts[i].id %>')"><span class="slider"></span>
                                    </label>
                                    <span>Show on landing page (max 3 posts)</span>
                                </div>
                            <% } %>
                            <input type="hidden" name="deletedMeta" id="deleted<%= posts[i].id %>" value="">
                            <div class="post-content media">
                                <% for(let k = 0; k < posts[i].filePaths.length; k++) { %>
                                    <% let src = posts[i].filePaths[k] %>
                                    <% let path = src.split('.') %>
                                    <% let ext = path[path.length - 1].toLowerCase() %>
                                    <div class="media-container">
                                        <% if(ext == 'png' || ext == 'jpg' || ext == 'bmp' || ext == 'svg' || ext == 'jpeg'){ %>
                                            <img src="<%= src %>">
                                        <% }else{ %>
                                            <video controls><source src="<%= src %>"></video>
                                        <% } %>
                                        <% if(auth){ %>
                                            <div class="media-overlay">
                                                <div class="center-inline">
                                                    <button onclick="deleteImg(<%= posts[i].id %>, '<%= src %>')"><i class="material-icons">delete</i></button>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                <% } %>
                                <% if(auth && posts[i].filePaths.length < 8){ %>
                                    <div class="form-upl-wrapper" onclick="toggleEdit('post-update<%= posts[i].id %>', '', '')">
                                        <input type="file" name="filePathsUpl" accept=".jpg,.png,.svg,.bmp,.mp4" oninput="submitForm('post-form-<%= posts[i].id %>')">
                                        <button class="form-upl"><i class="material-icons">add</i> Add file</button>
                                    </div>
                                <% } %>
                            </div>
                            <% if(!auth && posts[i].ratings.map(r => r.userID).indexOf(session.userID) == -1){ %>
                                <% include partials/forms/stars %>
                            <% } %>
                            <% if(!posts[i].author.admin){ %>
                                <div class="post-content">
                                    <div style="margin-bottom: 20px">
                                        <button class="form-upl" type="button" onclick="openDiv('comments')">View comments</button>
                                        <div id="comments" style="display: none; margin-top: 20px">
                                            <% for(let k = 0; k < posts[i].comments.length; k++){ %>
                                                <div class="brigade">
                                                    <span>
                                                        <a href="/users/<%= posts[i].comments[k].author.id %>" style="margin-right: 10px">
                                                            <img src="<%= posts[i].comments[k].author.avatar %>" style="margin-right: 0">
                                                            <b style="letter-spacing: 0"><%= posts[i].comments[k].author.username %></b>
                                                        </a>
                                                        <a><span><%= posts[i].comments[k].content %></span></a>
                                                    </span>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div>
                                        <span>
                                            <input type="hidden" id="comment-input" name="addedCommentOpt">
                                            <a class="grey-inputs small-input">
                                                <input type="text" placeholder="Add comment" style="width: 300px" id="add-comment-input">
                                                <button class="edit-allergens" onclick="sendComment()"
                                                style="font-size: 16px;margin: 0;padding: 7px 9px !important;">
                                                    <i class="material-icons" style="vertical-align: -2.5px">send</i>
                                                </button>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            <% } %>
                            <% if(auth){ %>
                                <div class="post-content">
                                    <button type="button" onclick="submitForm('delete-form-<%= posts[i].id %>')"><i class="material-icons" style="vertical-align: -1px">delete</i> Delete post</button>
                                </div>
                                <div class="post-content" id="post-update<%= posts[i].id %>" style="display: none">
                                    <input type="submit" value="Save">
                                    <button type="button" onclick="cancelEdit()">Cancel</button>
                                </div>
                            <% } %>
                        </form>
                    <% } %>
            <% } %>
        </div>
        <form class="profile-feed" id="profile-feed-brigade" style="display: none" method="POST" action="/users/update?_method=PATCH">
            <h3>Requests</h3>
            <% if(user.requested.length == 0){ %>
                <p>None</p>
            <% } %>
            <input type="hidden" name="requestedRelJSON" id="requestedInput"
                value="<%= user.requested ? JSON.stringify(user.requested.map(r => r.id)) : "[]" %>"
            >
            <% for(let i = 0; i < user.requested.length; i++){ %>
                <div class="post-card brigade">
                    <a href="/users/<%= user.requested[i].id %>">
                        <img src="<%= user.requested[i].avatar %>">
                        <span><%= user.requested[i].name.first %> <%= user.requested[i].name.last %></span>
                    </a>
                    <% if(auth){ %><button class="cta" onclick="addBrigade(<%= user.requested[i].id %>)">Accept</button><% } %>
                </div>
            <% } %>
            <h3>Brigade</h3>
            <% if(user.brigade.length == 0){ %>
                <p>None</p>
            <% } %>
            <input type="hidden" name="brigadeRelJSON" id="brigadeInput"
                value="<%= user.brigade ? JSON.stringify(user.brigade.map(r => r.id)) : "[]" %>"
            >
            <% for(let i = 0; i < user.brigade.length; i++){ %>
                <div class="post-card brigade">
                    <a href="/users/<%= user.brigade[i].id %>">
                        <img src="<%= user.brigade[i].avatar %>">
                        <span><%= user.brigade[i].name.first %> <%= user.brigade[i].name.last %></span>
                    </a>
                    <% if(auth){ %><button onclick="removeBrigade(<%= user.brigade[i].id %>)">Unfollow</button><% } %>
                </div>
            <% } %>
        </form>
    </div>
    <script>
        let profileNav = document.getElementById('profile-nav-uq');
        let profileFeed = document.getElementById('profile-feed-feed');
        let brigade = document.getElementById('brigadeInput');
        let requested = document.getElementById('requestedInput');
        let deleted = false;
        profileNav.style.paddingLeft = profileFeed.offsetLeft + 'px';

        function toggleActivate(id1, id2){
            toggle(id1, id2);
            let posts = document.getElementById('posts');
            let brigade = document.getElementById('brigade');

            let temp = posts.className;
            posts.setAttribute('class', brigade.className);
            brigade.setAttribute('class', temp);
        }

        function deleteImg(postId, filePath){
            if(!deleted){
                let paths = document.getElementById(`filePaths${postId}`);
                let arr = JSON.parse(paths.value);
                paths.setAttribute('value', JSON.stringify(arr.filter(p => p != filePath)));

                document.getElementById(`deleted${postId}`).setAttribute('value', filePath);

                deleted = true;
            }
        }

        function addBrigade(userId){
            let arr = JSON.parse(brigade.value);
            arr.push(userId);

            requested.setAttribute('value', JSON.stringify(JSON.parse(requested.value).filter(r => r != userId)));
            brigade.setAttribute('value', JSON.stringify(arr));
        }

        function removeBrigade(userId){
            brigade.setAttribute('value', JSON.stringify(JSON.parse(brigade.value).filter(b => b != userId)));
        }

        function sendComment(){
            let comment = document.getElementById('add-comment-input').value;
            let commentInput = document.getElementById('comment-input');

            commentInput.setAttribute('value', comment);
        }
    </script>
<% include partials/footer %>
